{% extends 'base.html' %}
{% block content %}
    <div class="text-center col-xs-8 col-xs-offset-2">
        <p class="text-center">请输入要扫描的域名或ip地址:</p>
        <form method="post">
            {% csrf_token %}
            <input class='btn form-group' type="text" name="host_name"/>
            <input class='btn form-group' type="submit" />
        </form>
        <table class="table ">
                <tr>
                    <td colspan="5"><b><span class="text-center">扫描结果: {{ host }}</span></b></td>
                </tr>
                <tr>
                    <th>端口号</th>
                    <th>端口状态</th>
                    <th>端口服务</th>
                    <th>端口组件</th>
                    <th>组件版本</th>
                </tr>
                {% if tcps %}
                {% for key,value in tcps.items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value.state }}</td>
                    <td>{{ value.name }}</td>
                    <td>{{ value.product }}</td>
                    <td>{{ value.version }}</td>
                </tr>
                {% endfor %}
                {% else %}
                    <tr class="text-center"><td colspan="5">NO RESULT</td></tr>
                {% endif %}
                {% if error %}
                    <tr class="text-center"><td colspan="5">出错了：{{ error }}</td></tr>
                {% endif %}
        </table>
    </div>
{% endblock %}