{% extends 'base.html' %}
{% block content %}

    <div class="text-center col-xs-6 col-xs-offset-3">
        <form method="post">
        {% csrf_token %}
            <div style="padding-top: 30px;">
                <input class='btn form-group' type="text" name="ipadd" placeholder="请输入你要查询的ip地址：" /><input class="btn btn-primary btn-md"  type="submit" value="搜索" />
            </div>
            <div style="padding-top: 30px;">
                <table class="table ">

                    <tr>
                        <td>ip地址</td>
                        <td>{{ ipadd }}</td>
                    </tr>

                    <tr>
                        <td>国家</td>
                        <td>{{ country }}</td>
                    </tr>

                    <tr>
                        <td>详细地址</td>
                        <td>{{ address }}</td>
                    </tr>

                    <tr>
                        <td>所属时区</td>
                        <td>{{ time_zone }}</td>
                    </tr>

                    <tr>
                        <td>地图位置</td>
                    <td>
                        {% load static %}
                        {{ html }}
                        <img src="{% static 'ipsearch/test.jpg'%}" ></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>

{% endblock %}
