{% extends 'base.html' %}
{% block content %}
        <div class="text-center col-xs-8 col-xs-offset-2" style="padding-top: 30px">
            <p>请选择你要进行的操作:</p>

            <form method="post" >
                {% csrf_token %}
                <select  name="jiami_type" class="btn btn-primary">
                    <option >请选择加密算法</option>
                    <option value="a" >AES加密</option>
                    <option value="b" >DES加密</option>
                </select>
                <select  name="jiami_action" class="btn btn-primary">
                    <option >请选择操作方式</option>
                    <option value="1" >加密</option>
                    <option value="2" >解密</option>
                </select>
                    <h2>{{ zhuangtai }}</h2>
                    <div>
                        <p>{{ jiami1 }}请输入文本/密文：<br><span style="width:500px;height:200px;">{{ form.a }}</span></p>
                        <p>{{ jiami2 }}密钥：<br><span style="width:400px;height:100px;">{{ form.b }}</span></p>
                        <p>获得结果：<br><textarea style="width: 500px;height:200px;">{{ text }}</textarea></p>
                        <input type="submit" value="开始" class="btn btn-primary"/>
                    </div>

            </form>
        </div>

{% endblock %}