<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

</head>
<body style="background-color:	#BEBEBE	;font-size: 16px" class="text-warning">
    <!--导航栏-->

        <nav class="text-center col-xs-6 col-xs-offset-3" style="padding-top: 30px">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation"><a href="/">Home</a></li>
                <li role="presentation" class="active"><a href="/encrypt">加密</a></li>
                <li role="presentation"><a href="/ipsearch/">IP查询</a></li>
                <li role="presentation"><a href="/admin/">管理员</a></li>
            </ul>
        </nav>

        <div class="text-center col-xs-6 col-xs-offset-3" style="padding-top: 30px">
            <p>请选择你要进行的操作:</p>

            <form method="post" >
                {% csrf_token %}
                <select  name="jiami_type" class="btn btn-primary">
                    <option >请选择加密算法</option>
                    <option value="a" >AES加密</option>
                    <option value="b" >DES加密</option>
                </select>
                <select  name="jiami_action" class="btn btn-primary">
                    <option >请选择操作方式</option>
                    <option value="1" >加密</option>
                    <option value="2" >解密</option>
                </select>
                    <h2>{{ zhuangtai }}</h2>
                    <div>
                        <p>{{ jiami1 }}请输入文本/密文：<br><span style="width:400px;height:300px;">{{ form.a }}</span></p>
                        <p>{{ jiami2 }}密钥：<br><span style="width:400px;height:100px;">{{ form.b }}</span></p>
                        <p>获得结果：<br><textarea style="width: 400px;height:300px;">{{ text }}</textarea></p>
                        <input type="submit" value="开始" class="btn btn-primary"/>
                    </div>

            </form>
        </div>


</body>
</html>