{% extends 'base.html' %}
{% block content %}
    <div class="text-center col-xs-8 col-xs-offset-2">
        <h1>SEEBUG</h1>
        <div class="search" style="padding-bottom: 30px;">
            <form method="post">
                {% csrf_token %}
                <h1>{{ search_content }}</h1>
                <input type="text" name="search_content" placeholder="输入查询条件" class="btn"/>
                <select  name="search_type" class="btn btn-primary">
                    <option >请选择查询方式</option>
                    <option value="1" selected="selected">按漏洞名称查询</option>
                    <option value="2" >按 SSVID 查询</option>
                    <option value="3" >按提交时间查询</option>
                    <option value="4" >按漏洞等级查询</option>
                </select>
                <input type="submit" value="搜索" class="btn btn-primary" />
            </form>
        </div>
        <div class="poc_list" >
            <table class="table">
            {% for poc in pocs %}
                <tr>
                    <td>{{ poc.SSV_ID }}</td>
                    <td>{{ poc.Push_time }}</td>
                    <td>{{ poc.Level}}</td>
                    <td>{{ poc.Poc_name }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if pocs.has_previous %}
                    <a href="?page={{ pocs.previous_page_number }}">上一页</a>
                {% endif %}
                {% if pocs.number > 5 %}
                <a href="?page=1">首页</a>
                <span>...</span>
                {% endif %}

                {% for bpa in before_pages%}
                    <a href="?page={{ bpa }}">{{bpa}}页</a>
                {% endfor %}
                <span class="current">
                    当前页数{{ pocs.number }}/{{pocs.paginator.num_pages }}
                </span>
                {% for apa in after_pages%}
                    <a href="?page={{ apa }}">{{apa}}页</a>
                {% endfor %}

                {% if pocs.number <=  pocs.paginator.num_pages|add:-5  %}
                <span>...</span>
                <a href="?page={{ pocs.paginator.num_pages }}">{{ pocs.paginator.num_pages }}</a>
                {% endif %}

                {% if pocs.has_next %}
                    <a href="?page={{ pocs.next_page_number }}">下一页</a>
                {% endif %}
            </span>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="page" placeholder="输入页数"/>
                <input type="submit" value="跳转" />
            </form>
        </div>
    </div>
{% endblock %}