{% extends 'base.html' %}
{% block content %}
    <div class="text-center col-md-12">
        <h1>SEEBUG</h1>
        <div class="search" style="padding-bottom: 30px;">
            <form method="GET" action="/seebug_mod/">
                {% csrf_token %}
                <input type="text" name="search_content" placeholder="输入查询条件" class="btn"/>
                <select  name="search_type" class="btn btn-primary">
                    <option >请选择查询方式</option>
                    <option value="1" selected="selected">按漏洞名称查询</option>
                    <option value="2" >按 SSVID 查询</option>
                    <option value="3" >按提交时间查询</option>
                    <option value="4" >按漏洞等级查询</option>
                    <option value="5" >按有无CVE查询</option>
                    <option value="6" >按有无Poc查询</option>
                    <option value="7" >按有无靶场查询</option>
                    <option value="8" >按有无详情查询</option>
                    <option value="9" >按有无图表查询</option>
                </select>
                <input type="submit" value="搜索" class="btn btn-primary" />
            </form>
        </div>

        <div class="poc_list" >
            <table class="table">
                <tr>
                    <th>SSV ID</th>
                    <th>提交时间</th>
                    <th>漏洞等级</th>
                    <th>漏洞名称</th>
                    <th>CVE</th>
                    <th>PoC</th>
                    <th>靶场</th>
                    <th>详情</th>
                    <th>图表</th>
                </tr>
            {% for poc in pocs %}
                <tr>
                    <td>{{ poc.SSV_ID }}</td>
                    <td>{{ poc.Push_time }}</td>
                    <td>{{ poc.Level}}</td>
                    <td>{{ poc.Poc_name }}</td>
                    <td>{{poc.Has_cve }}</td>
                    <td>{{poc.Has_poc }}</td>
                    <td>{{poc.Has_target }}</td>
                    <td>{{poc.Has_detail }}</td>
                    <td>{{poc.Has_chart }}</td>


                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if pocs.has_previous %}
                    <a href="?csrfmiddlewaretoken={{ csrfmiddlewaretoken }}&search_content={{ search_content }}&search_type={{ search_type }}&page={{ pocs.previous_page_number }}">上一页</a>
                {% endif %}
                {% if pocs.number > 5 %}
                <a href="?csrfmiddlewaretoken={{ csrfmiddlewaretoken }}&search_content={{ search_content }}&search_type={{ search_type }}&page=1">首页</a>
                <span>...</span>
                {% endif %}

                {% for bpa in before_pages%}
                    <a href="?csrfmiddlewaretoken={{ csrfmiddlewaretoken }}&search_content={{ search_content }}&search_type={{ search_type }}&page={{ bpa }}">{{bpa}}页</a>
                {% endfor %}
                <span class="current">
                    当前页数{{ pocs.number }}/{{pocs.paginator.num_pages }}
                </span>
                {% for apa in after_pages%}
                    <a href="?csrfmiddlewaretoken={{ csrfmiddlewaretoken }}&search_content={{ search_content }}&search_type={{ search_type }}&page={{ apa }}">{{apa}}页</a>
                {% endfor %}

                {% if pocs.number <=  pocs.paginator.num_pages|add:-5  %}
                <span>...</span>
                <a href="?csrfmiddlewaretoken={{ csrfmiddlewaretoken }}&search_content={{ search_content }}&search_type={{ search_type }}&page={{ pocs.paginator.num_pages }}">{{ pocs.paginator.num_pages }}</a>
                {% endif %}

                {% if pocs.has_next %}
                    <a href="?csrfmiddlewaretoken={{ csrfmiddlewaretoken }}&search_content={{ search_content }}&search_type={{ search_type }}&page={{ pocs.next_page_number }}">下一页</a>
                {% endif %}
                <span style="font-size: 10px">【共{{ counts }}条结果,花费{{ spend_times }} 秒】</span>
            </span>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="page" placeholder="输入页数" class="btn"/>
                <input type="submit" value="跳转" class="btn btn-default"/>
            </form>
        </div>
    </div>


{% endblock %}