<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color:	#BEBEBE	;font-size: 16px" class="text-warning">
        <nav class="text-center col-xs-6 col-xs-offset-3" style="padding-top: 30px">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="/">Home</a></li>
                <li role="presentation"><a href="/encrypt">加密</a></li>
                <li role="presentation"><a href="/ipsearch">IP查询</a></li>
                <li role="presentation"><a href="/admin/">管理员</a></li>
            </ul>
        </nav>
        <div class="text-center col-xs-6 col-xs-offset-3">
            <h1>欢迎访问！！！！！！</h1>
        </div>
</body>
</html>