<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hack工具</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#000000;font-size: 16px" class="text-warning">
        <nav class="text-center col-xs-6 col-xs-offset-3" style="padding-top: 30px">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation"><a href="/">Home</a></li>
                <li role="presentation"><a href="/encrypt">加密</a></li>
                <li role="presentation"><a href="/ipsearch">IP查询</a></li>
                <li role="presentation"><a href="/scanner">扫描</a></li>
                <li role="presentation" class="active"><a href="/hacktools">Hack工具</a></li>
                <li role="presentation"><a href="/admin">管理员</a></li>
            </ul>
        </nav>
    <!--zip解密部分    -->
    <div class="text-center col-xs-6 col-xs-offset-3">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <input type="file" name="upfile" />
            <input type="submit" value="解压" />
        </form>
        <span>{{ res }}</span>
        <span>{{ a }}</span>
    </div>
    <!--zip解密部分    -->

</body>
</html>
